* p {
  font-size: 22px;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carousel-section {
  margin: 0px;
  .slide {
    flex-grow: 1;
    width: 100%;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
      }
    }
  }
  .notifi-bar-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    padding: 10px;
    overflow: hidden;
    font-weight: bolder;
  }
}
.icon-size {
  font-size: 40px;
}
.other-page-section {
  h2 {
    text-align: center;
  }
  .box-area {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
    border: 3px solid #f0f3f2;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
  }
  .img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
  }
}
.bg-color1 {
  background-color: #d8f5eb;
}
.bg-color2 {
  background-color: #f0f5e0;
}
.bg-color3 {
  background-color: #d4f5fe;
}
.bg-color4 {
  background-color: #f5e2f0;
}
.bg-color5 {
  background-color: #d4f5fe;
}
.bg-color6 {
  background-color: #fde2dc;
}
.bg-color7 {
  background-color: #daf5f5;
}
.bg-color8 {
  background-color: #d8f5eb;
}
.notification-section {
  flex-wrap: wrap;
  .single-notification-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 550px;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;

    .box1,
    .box2 {
      overflow-y: auto;
      padding: 20px;
      h2 {
        text-align: center;
      }
      .inner-box1,
      .inner-box2 {
        text-align: right;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  .box1-color {
    background-color: #f2f2f2;
  }
  .box2-color {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px #888888;
  }
  .inner-box1 {
    display: flex;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px 10px 2px 10px;
    margin: 10px 0px 10px 0px;
  }
  .inner-box2 {
    margin: 19px 0px 19px 0px;
  }
  .inner-box2 a {
    &:hover {
      color: #15bc3f !important;
    }
  }
}

.rules-regulation {
  width: 100%;
  height: 60vh;
  position: relative;
  h2 {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
  }
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../../../assets/Mosque.png);
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1da96b;
  opacity: 0.5;
}

.text-carousel-style p {
  padding: 30px 100px 50px 100px;
  color: white;
}
.carousel-indicators {
  margin-top: -50px;
}
.objectives-section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .objective-text {
    width: 672px;
    height: 346px;
    text-align: right;
    padding: 0px 40px 0px 0px;
  }
  .objective-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 474px;
    height: 432px;
    background-color: #02b2c2;
    border-radius: 8px;
    img {
      height: 400px;
    }
  }
}
.arrow-setting {
  margin: 5px 5px 0px 5px;
}
.provincial-offices-section {
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
  background: #d4f5fe;
  height: 65vh;
  width: 100%;
  position: relative;
  h2 {
    padding: 40px;
  }
}
.p-carousel-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    margin: 5px;
  }
}
// .p-carousel-item {
//   display: flex;
//   align-items: center;
//   img {
//     width: 250px;
//     margin: 5px;
//   }
// }
.historical-section {
  position: relative;
  min-height: 480px;
  height: 60vh;
  width: 100%;
  h2 {
    text-align: center;
    padding: 0px 0px 30px 0px;
    color: white;
  }
  .historical-text-mar p {
    text-align: center;
    margin: 0px 30px 0px 30px;
    padding: 0px 100px 0px 100px;
    color: white;
  }
}
.carousel-item p {
  margin: 30px;
  text-align: justify;
}
.arow-bg {
  background: gray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}
.set {
  text-align: center;
  color: #009668;
}
.sub-section {
  margin: 38px 0px 38px 0px;
  height: 416px;
}
.sub-inner-section {
  display: flex;
}
.sub-inner-box1 {
  background-color: #02b2c2;
  color: white;
}
.inner-box1-content {
  padding: 100px 30px 0px 30px;
  text-align: right;
  form {
    input {
      text-align: right;
    }
  }
}
.sub-inner-box1,
.sub-inner-box2 {
  width: 50%;
  height: 416px;
}
.sub-btn {
  background-color: white;
  color: #02b2c2;
}
.contact-section {
  height: 60vh;
}
.contact-innerbox {
  display: flex;
  .innerbox1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 30px 0px 30px;
    text-align: right;
  }
}
.innerbox2 {
  width: 50%;
  form {
    input {
      text-align: right;
    }
  }
}
.icon1,
.icon2,
.icon3 {
  margin: 05px 05px 05px 0px;
}
.acc-info-section {
  height: 20vh;
  min-height: 180px;
  background-color: #3cacfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  h2 {
    padding: 10px 0px 10px 0px;
  }
  .acc-info-inner-sec {
    display: flex;

    .acc-box1 {
      margin: 10px;
      padding: 10px;
    }
    .acc-box2 {
      margin: 10px;
      padding: 10px;
      text-align: right;
    }
  }
}
#movetxt {
  -webkit-animation: moving 5s infinite;
  animation: moving 5s infinite;
}
@keyframes moving {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300px);
  }
}
