<div>
  <!-- Homepage Slider starts here-->
  <section class="carousel-section flex-column">
    <div class="carousel slide" data-ride="carousel" id="mycarousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2500">
          <img src="assets/mosque1.png" class="d-block w-100 h-100" />
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="assets/mosque3.png" class="d-block w-100 h-100" />
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="assets/mosque2.png" class="d-block w-100 h-100" />
        </div>
        <ul class="carousel-indicators">
          <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mycarousel" data-slide-to="1"></li>
          <li data-target="#mycarousel" data-slide-to="2"></li>
        </ul>
      </div>
      <a href="#mycarousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#mycarousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <div class="notifi-bar-inner">
      <span class="m-2 far fa-hand-point-right"></span>
      <p id="movetxt">{{ mainNotification }}</p>
    </div>
  </section>
  <!-- Homepage Slider ends here-->

  <!-- Notification Section starts here -->
  <section class="notification-section container">
    <div class="single-notification-box box1-color">
      <div class="box1">
        <h4>{{ "LANDING.NOTIFICATIONS" | translate }}</h4>
        <div class="inner-box1" *ngFor="let item of notifications">
          <span class="far fa-hand-point-right m-2"></span>
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
    <div class="single-notification-box box2-color">
      <div class="box2">
        <h4>{{ "LANDING.LINKS" | translate }}</h4>
        <div class="inner-box2" *ngFor="let item of quickLinks">
          <a>{{ item }}</a>
          <hr />
        </div>
      </div>
    </div>
  </section>
  <!-- Notification Section ends here -->

  <!-- our provincial Office section starts here -->
  <section id="offices" class="provincial-offices-section flex-column">
    <h2>{{ "LANDING.OUR_OFFICES" | translate }}</h2>
    <div class="carousel slide" data-ride="carousel" id="Provincialcarousel">
      <div class="carousel-inner">
        <div class="carousel-item p-carousel-item active" data-interval="2500">
          <img src="assets/offices/اسلام آباد-1.jpg" class="d-block" />
          <img src="assets/offices/شمالی پنجاب-2.jpg" class="d-block" />
          <img src="assets/offices/جنوبی پجاب-3.jpg" class="d-block" />
          <img src="assets/offices/سندھ-4.jpg" class="d-block" />
        </div>
        <div class="carousel-item p-carousel-item" data-interval="2500">
          <img src="assets/offices/بلوچستان-5.jpg" class="d-block" />
          <img src="assets/offices/خیبرپختونخواہ-6.jpg" class="d-block" />
          <img src="assets/offices/کشمیر-7.jpg" class="d-block" />
        </div>
        <ul class="carousel-indicators">
          <li
            class="clr"
            data-target="#Provincialcarousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            class="clr"
            data-target="#Provincialcarousel"
            data-slide-to="1"
          ></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- our provincial Office section ends here -->

  <!-- Other page section starts here-->
  <section class="other-page-section flex-column">
    <h2>{{ "LANDING.PAGES" | translate }}</h2>
    <div class="box-area">
      <div class="single-box" *ngFor="let item of navOptions">
        <div class="img-area bg-color1">
          <span class="far {{ item.icon }} icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"
            ><strong>{{ item.key | translate }}</strong></span
          >
        </div>
      </div>
    </div>
  </section>
  <!-- Other page section ends here-->

  <!-- Rules and Regulation Section starts here -->
  <!-- <section class="rules-regulation flex-column">
    <div class="rules-img"></div>
    <h2>{{ "LANDING.RULES" | translate }}</h2>
    <div class="carousel slide" data-ride="carousel" id="textcarousel">
      <div class="container">
        <div class="carousel-inner">
          <div class="container text-carousel-style">
            <a
              href="#textcarousel"
              class="carousel-control-prev"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a
              href="#textcarousel"
              class="carousel-control-next"
              data-slide="next"
            >
              <span class="carousel-control-next-icon"></span>
            </a>
            <div class="carousel-item active" data-interval="2500">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem fugiat, expedita nostrum laboriosam aspernatur
                veniam hic nesciunt nisi asperiores officiis incidunt rem
                reiciendis. Cum quam soluta ut optio libero repudiandae
                accusantium saepe quibusdam adipisci quo molestias magnam
                maiores ipsam cupiditate provident, necessitatibus animi earum
                commodi quidem cumque. Perspiciatis voluptatibus dolorem, cum
                officiis fugiat incidunt animi, fuga omnis reprehenderit impedit
                cumque non placeat repellat voluptatem excepturi veniam
                aspernatur expedita, nulla vero.
              </p>
            </div>

            <div class="carousel-item" data-interval="2500">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem fugiat, expedita nostrum laboriosam aspernatur
                veniam hic nesciunt nisi asperiores officiis incidunt rem
                reiciendis. Cum quam soluta ut optio libero repudiandae
                accusantium saepe quibusdam adipisci quo molestias magnam
                maiores ipsam cupiditate provident, necessitatibus animi earum
                commodi quidem cumque. Perspiciatis voluptatibus dolorem, cum
                officiis fugiat incidunt animi, fuga omnis reprehenderit impedit
                cumque non placeat repellat voluptatem excepturi veniam
                aspernatur expedita, nulla vero.
              </p>
            </div>

            <div class="carousel-item" data-interval="2500">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem fugiat, expedita nostrum laboriosam aspernatur
                veniam hic nesciunt nisi asperiores officiis incidunt rem
                reiciendis. Cum quam soluta ut optio libero repudiandae
                accusantium saepe quibusdam adipisci quo molestias magnam
                maiores ipsam cupiditate provident, necessitatibus animi earum
                commodi quidem cumque. Perspiciatis voluptatibus dolorem, cum
                officiis fugiat incidunt animi, fuga omnis reprehenderit impedit
                cumque non placeat repellat voluptatem excepturi veniam
                aspernatur expedita, nulla vero.
              </p>
            </div>
            <ul class="carousel-indicators">
              <li
                data-target="#textcarousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#textcarousel" data-slide-to="1"></li>
              <li data-target="#textcarousel" data-slide-to="2"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Rules and Regulation ends here -->

  <!-- Historical Background section starts here -->
  <section id="background" class="historical-section flex-column">
    <div class="bg-img"></div>
    <h2>{{ "LANDING.BG" | translate }}</h2>
    <div class="historical-background">
      <div class="carousel slide" data-ride="carousel" id="historycarousel">
        <div class="container carousel-inner">
          <div
            *ngFor="let item of backgroundAndHistory"
            class="carousel-item active"
            data-interval="2500"
          >
            <div class="historical-text-mar">
              <p>
                {{ item }}
              </p>
              <!-- <div class="set">
                <a href="#"
                  >Read More <span class="fas fa-long-arrow-alt-right"></span
                ></a>
              </div> -->
            </div>
          </div>
          <a
            href="#historycarousel"
            class="carousel-control-prev"
            data-slide="prev"
          >
            <div class="arow-bg">
              <span class="carousel-control-prev-icon"></span>
            </div>
          </a>
          <a
            href="#historycarousel"
            class="carousel-control-next"
            data-slide="next"
          >
            <div class="arow-bg">
              <span class="carousel-control-next-icon"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Historical Background section ends here -->

  <!-- Objectives & Objectives starts here -->
  <section id="objectives">
    <div class="container objectives-section">
      <div class="objective-text">
        <h4>{{ "LANDING.OBJECTIVES" | translate }}</h4>
        <p *ngFor="let item of objectives">
          {{ item }}
        </p>
        <a [routerLink]="'/c/objectives'"
          >Read More
          <span class="fas fa-long-arrow-alt-right arrow-setting"></span
        ></a>
      </div>
      <div class="objective-img">
        <img src="assets/logo.png" />
      </div>
    </div>
  </section>
  <!-- Objectives & Objectives ends here -->

  <!-- Subscribe section starts here -->
  <section class="sub-section">
    <div class="container sub-inner-section">
      <div class="sub-inner-box1">
        <div class="inner-box1-content">
          <h2>{{ "LANDING.SUBSCRIBE_TITLE" | translate }}</h2>
          <p>
            {{ "LANDING.SUBSCRIBE_TEXT" | translate }}
          </p>
          <button class="btn sub-btn">
            {{ "LANDING.SUBSCRIBE_NOW" | translate }}
          </button>
        </div>
      </div>
      <div class="sub-inner-box2">
        <div class="sub-img">
          <img src="assets/subscribe-section-image.JPG" />
        </div>
      </div>
    </div>
  </section>
  <!-- Subscribe section ends here -->

  <!-- contact section starts here -->
  <section id="contact-us" class="contact-section">
    <div class="container contact-innerbox">
      <div class="innerbox1">
        <h2>{{ "LANDING.CONTACT_US" | translate }}</h2>
        <p>
          We are committed to processing the information in order to contact you
          and talk about your project.
        </p>
        <div class="icon3">
          <span><i class="fas fa-mobile-alt"></i> +92 324 4345455</span>
        </div>
        <div class="icon1">
          <span><i class="far fa-envelope"></i> example@payload.com</span>
        </div>
        <div class="icon2">
          <span
            ><i class="fas fa-map-marker-alt"></i> Tanzeem Ul Madaris, Lahore
            Pakistan</span
          >
        </div>
      </div>
      <div class="innerbox2">
        <form>
          <div class="form-group">
            <select class="form-control" id="sel1">
              <option>Topic</option>
              <option>Topic1</option>
              <option>Topic2</option>
              <option>Topic3</option>
            </select>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <input
                  type="text"
                  class="form-control"
                  id="FirstName"
                  placeholder="Your Name"
                  name="name"
                />
              </div>
              <div class="col-md-6 col-lg-6">
                <input
                  type="text"
                  class="form-control"
                  id="FirstName"
                  placeholder="Your Email"
                  name="name"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="Descript"
              placeholder="Description(Optional)"
              name="Descrp"
            />
          </div>
          <button type="submit" class="btn btn-success">
            {{ "LANDING.OUR_OFFICES" | translate }}
          </button>
        </form>
      </div>
    </div>
  </section>
  <!-- contact section ends here -->
</div>
