<div>
  <!-- Navbar starts here-->
  <app-navbar></app-navbar>
  <!-- Navbar ends here-->

  <!-- Homepage Slider starts here-->
  <section class="carousel-section">
    <div class="carousel slide" data-ride="carousel" id="mycarousel">
      <ul class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2500">
          <img src="../../../../assets/1.png" class="d-block w-100" />
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="../../../../assets/2.png" class="d-block w-100" />
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="../../../../assets/3.png" class="d-block w-100" />
        </div>
      </div>
      <a href="#mycarousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#mycarousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  <!-- Homepage Slider ends here-->

  <!-- Other page section starts here-->
  <section class="other-page-section">
    <h2>Other Pages</h2>
    <div class="box-area">
      <div class="single-box">
        <div class="img-area bg-color1">
          <span class="far fa-file-alt icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>School Of Orders</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color2">
          <span class="fa fa-tasks icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>Management</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color3">
          <span class="fas fa-user-graduate icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>Results Exam</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color4">
          <span class="fas fa-chalkboard-teacher icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>Curriculum Education</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color5">
          <span class="far fa-images icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>Gallery</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color6">
          <span class="fa fa-download icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>Downloads</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color7">
          <span class="fa fa-award icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>Position Holders</strong></span>
        </div>
      </div>

      <div class="single-box">
        <div class="img-area bg-color8">
          <span class="far fa-file-alt icon-size"></span>
        </div>
        <div class="img-text">
          <span class="header-text"><strong>School Of Orders</strong></span>
        </div>
      </div>
    </div>
  </section>
  <!--main other page section div-->
  <!-- other page section ends here -->

  <!-- Notification Section starts here -->
  <section class="notifi-Section">
    <div class="notification-section container">
      <div class="single-notification-box box1-color">
        <div class="box1">
          <h4>Notifications</h4>
          <div class="inner-box1">
            <span class="far fa-hand-point-right hand-margin"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="inner-box1">
            <span class="far fa-hand-point-right hand-margin"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="inner-box1">
            <span class="far fa-hand-point-right hand-margin"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="inner-box1">
            <span class="far fa-hand-point-right hand-margin"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="inner-box1">
            <span class="far fa-hand-point-right hand-margin"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <div class="inner-box1">
            <span class="far fa-hand-point-right hand-margin"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>
      </div>
      <div class="single-notification-box box2-color">
        <div class="box2">
          <h4>Quick Links</h4>
          <div class="inner-box2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <hr />
          <div class="inner-box2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <hr />
          <div class="inner-box2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <hr />
          <div class="inner-box2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <hr />
          <div class="inner-box2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
          <hr />
          <div class="inner-box2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Notification Section ends here -->

  <!-- Rules and Regulation Section starts here -->
  <section class="rules-regulation">
    <div class="rules-img"></div>
    <h2>Rules and Regulation</h2>
    <div class="carousel slide" data-ride="carousel" id="textcarousel">
      <ul class="carousel-indicators">
        <li data-target="#textcarousel" data-slide-to="0" class="active"></li>
        <li data-target="#textcarousel" data-slide-to="1"></li>
        <li data-target="#textcarousel" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2500">
          <div class="container text-carousel-style">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem fugiat, expedita nostrum laboriosam aspernatur
              veniam hic nesciunt nisi asperiores officiis incidunt rem
              reiciendis. Cum quam soluta ut optio libero repudiandae
              accusantium saepe quibusdam adipisci quo molestias magnam maiores
              ipsam cupiditate provident, necessitatibus animi earum commodi
              quidem cumque. Perspiciatis voluptatibus dolorem, cum officiis
              fugiat incidunt animi, fuga omnis reprehenderit impedit cumque non
              placeat repellat voluptatem excepturi veniam aspernatur expedita,
              nulla vero.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-interval="2500">
          <div class="container text-carousel-style">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem fugiat, expedita nostrum laboriosam aspernatur
              veniam hic nesciunt nisi asperiores officiis incidunt rem
              reiciendis. Cum quam soluta ut optio libero repudiandae
              accusantium saepe quibusdam adipisci quo molestias magnam maiores
              ipsam cupiditate provident, necessitatibus animi earum commodi
              quidem cumque. Perspiciatis voluptatibus dolorem, cum officiis
              fugiat incidunt animi, fuga omnis reprehenderit impedit cumque non
              placeat repellat voluptatem excepturi veniam aspernatur expedita,
              nulla vero.
            </p>
          </div>
        </div>
        <div class="carousel-item" data-interval="2500">
          <div class="container text-carousel-style">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem fugiat, expedita nostrum laboriosam aspernatur
              veniam hic nesciunt nisi asperiores officiis incidunt rem
              reiciendis. Cum quam soluta ut optio libero repudiandae
              accusantium saepe quibusdam adipisci quo molestias magnam maiores
              ipsam cupiditate provident, necessitatibus animi earum commodi
              quidem cumque. Perspiciatis voluptatibus dolorem, cum officiis
              fugiat incidunt animi, fuga omnis reprehenderit impedit cumque non
              placeat repellat voluptatem excepturi veniam aspernatur expedita,
              nulla vero.
            </p>
          </div>
        </div>
      </div>
      <a href="#textcarousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#textcarousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  <!-- Rules and Regulation ends here -->

  <!-- Objectives & Objectives starts here -->
  <section class="objective">
    <div class="container objectives-section">
      <div class="objective-text">
        <h4>Objective & Objectives</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          inventore repellendus incidunt consequuntur! Vitae tempora sit
          voluptatibus magnam, accusantium nulla, sapiente inventore repellat
          commodi pariatur, ducimus repudiandae at? Minus, impedit dignissimos
          libero eum voluptate, ullam accusantium aliquid mollitia maxime, amet
          temporibus. Ex dolorum, reprehenderit praesentium mollitia quos
          consectetur earum blanditiis.
        </p>
        <a href="#"
          >Read More
          <span class="fas fa-long-arrow-alt-right arrow-setting"></span
        ></a>
      </div>
      <div class="objective-img">
        <img src="../../../../assets/ObjectiveBanner.png" />
      </div>
    </div>
  </section>
  <!-- Objectives & Objectives ends here -->

  <!-- our provincial Office section starts here -->
  <section class="provincial-offices-section">
    <div class="provincial-offices">
      <h2>Our Provincial Offices</h2>
      <div class="carousel slide" data-ride="carousel" id="Provincialcarousel">
        <ul class="carousel-indicators">
          <li
            class="clr"
            data-target="#Provincialcarousel"
            data-slide-to="0"
            class="active"
          ></li>
          <li
            class="clr"
            data-target="#Provincialcarousel"
            data-slide-to="1"
          ></li>
          <li
            class="clr"
            data-target="#Provincialcarousel"
            data-slide-to="2"
          ></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="2500">
            <img src="../../../../assets/POB.png" class="d-block" />
          </div>
          <div class="carousel-item" data-interval="2500">
            <img src="../../../../assets/POB.png" class="d-block" />
          </div>
          <div class="carousel-item" data-interval="2500">
            <img src="../../../../assets/POB.png" class="d-block" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our provincial Office section ends here -->

  <!-- Historical Background section starts here -->
  <section class="historical-section">
    <h2>Historical Background and Services</h2>
    <div class="historical-background">
      <div class="carousel slide" data-ride="carousel" id="textcarousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="2500">
            <div class="container">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem fugiat, expedita nostrum laboriosam aspernatur
                veniam hic nesciunt nisi asperiores officiis incidunt rem
                reiciendis. Cum quam soluta ut optio libero repudiandae
                accusantium saepe quibusdam adipisci quo molestias magnam
                maiores ipsam cupiditate provident, necessitatibus animi earum
                commodi quidem cumque. Perspiciatis voluptatibus dolorem, cum
                officiis fugiat incidunt animi, fuga omnis reprehenderit impedit
                cumque non placeat repellat voluptatem excepturi veniam
                aspernatur expedita, nulla vero.
              </p>
              <div class="set">
                <a href="#"
                  >Read More <span class="fas fa-long-arrow-alt-right"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="2500">
            <div class="container">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem fugiat, expedita nostrum laboriosam aspernatur
                veniam hic nesciunt nisi asperiores officiis incidunt rem
                reiciendis. Cum quam soluta ut optio libero repudiandae
                accusantium saepe quibusdam adipisci quo molestias magnam
                maiores ipsam cupiditate provident, necessitatibus animi earum
                commodi quidem cumque. Perspiciatis voluptatibus dolorem, cum
                officiis fugiat incidunt animi, fuga omnis reprehenderit impedit
                cumque non placeat repellat voluptatem excepturi veniam
                aspernatur expedita, nulla vero.
              </p>
            </div>
          </div>
          <div class="carousel-item" data-interval="2500">
            <div class="container">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Exercitationem fugiat, expedita nostrum laboriosam aspernatur
                veniam hic nesciunt nisi asperiores officiis incidunt rem
                reiciendis. Cum quam soluta ut optio libero repudiandae
                accusantium saepe quibusdam adipisci quo molestias magnam
                maiores ipsam cupiditate provident, necessitatibus animi earum
                commodi quidem cumque. Perspiciatis voluptatibus dolorem, cum
                officiis fugiat incidunt animi, fuga omnis reprehenderit impedit
                cumque non placeat repellat voluptatem excepturi veniam
                aspernatur expedita, nulla vero.
              </p>
            </div>
          </div>
        </div>

        <a href="#textcarousel" class="carousel-control-prev" data-slide="prev">
          <div class="arow-bg">
            <span class="carousel-control-prev-icon"></span>
          </div>
        </a>
        <a href="#textcarousel" class="carousel-control-next" data-slide="next">
          <div class="arow-bg">
            <span class="carousel-control-next-icon"></span>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- Historical Background section ends here -->

  <!-- Subscribe section starts here -->
  <section class="sub-section">
    <div class="container sub-inner-section">
      <div class="sub-inner-box1">
        <div class="inner-box1-content">
          <h2>Subscribe To Be in Touch</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
            quidem, magni veritatis vitae quibusdam porro nesciunt temporibus
            numquam obcaecati officia!
          </p>
          <input class="btn sub-btn" type="submit" value="Subscribe Now" />
        </div>
      </div>
      <div class="sub-inner-box2">
        <div class="sub-img">
          <img src="../../../../assets/subscribe-section-image.JPG" />
        </div>
      </div>
    </div>
  </section>
  <!-- Subscribe section ends here -->
</div>
