.downloads-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px;
  .download-tile {
    margin-bottom: 50px;
    .download-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      .line {
        background-color: #15bc3f;
        width: 200px;
        height: 1px;
      }
      .line-spacing1 {
        margin: 30px 10px 0px 0px;
      }
      .line-spacing2 {
        margin: 30px 0px 0px 10px;
      }
      i {
        font-size: 50px;
        color: #15bc3f;
      }
    }
  }

  .downloads-sec {
    display: flex;
    .downloads-sec-inner1 {
      padding: 50px;
    }
    .downloads-sec-inner2 {
      padding: 50px;
      flex-grow: 1;
    }
    .heading-underline {
      background-color: #15bc3f;
      height: 3px;
    }
    .list-content-wrapper {
      padding: 30px;
      .content-element {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
        a {
          color: #15bc3f;
          text-decoration: none;
          text-align: right;
        }
        .bullet-icon {
          i {
            font-size: 10px;
            padding-left: 6px;
            color: #85817f;
          }
        }
      }
    }
    h3 {
      color: #85817f;
      text-align: right;
    }
  }
}
