<div class="downloads-parent">
  <div class="download-tile">
    <h2>{{ "LANDING.DOWNLOAD_HEADING" | translate }}</h2>
    <div class="download-icon">
      <div class="line line-spacing1"></div>
      <i class="fa fa-download"></i>
      <div class="line line-spacing2"></div>
    </div>
  </div>

  <div class="downloads-sec">
    <div class="downloads-sec-inner1">
      <div class="sub-inner1">
        <h2>{{ "LANDING.AFFILIATE_UNIVERSITIES_DOWNLOADS" | translate }}</h2>
        <div class="heading-underline"></div>
        <div class="list-content-wrapper">
          <div class="content-element" *ngFor="let item of affiliatedDownloads">
            <a href="item.path" download>{{ item.name }}</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="sub-inner2">
        <h2>{{ "LANDING.CURRICULAM_DOWNLOADS" | translate }}</h2>
        <div class="heading-underline"></div>
        <div class="list-content-wrapper">
          <div class="content-element" *ngFor="let item of curriculamDownloads">
            <a href="item.path" download>{{ item.name }}</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="downloads-sec-inner2">
      <div class="sub-inner3">
        <h2>{{ "LANDING.EXAMINATION_DEP_DOWNLOADS" | translate }}</h2>
        <div class="heading-underline"></div>
        <div class="list-content-wrapper">
          <div
            class="content-element"
            *ngFor="let item of examinationDownloads"
          >
            <a href="{{ item.path }}" download>{{ item.name }}</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
