<div class="downloads-parent">
  <div class="download-tile">
    <h2>Al-Wurqa Al-Tanzilat(Downloads)</h2>
    <div class="download-icon">
      <div class="line line-spacing1"></div>
      <i class="fa fa-download"></i>
      <div class="line line-spacing2"></div>
    </div>
  </div>

  <div class="downloads-sec">
    <div class="downloads-sec-inner1">
      <div class="sub-inner1">
        <h3>Affiliated Universities About Downloads</h3>
        <div class="heading-underline"></div>
        <div class="list-content-wrapper">
          <div class="content-element">
            <a href="#">Find your affiliate record</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Application form first page</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">APPLICATION FORM PAGE 2 (IMPORTANT INSTRUCTIONS)</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Data Sheet for Affiliation and Re-affiliation</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Form for Correcting Record Head Institution</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Guidelines and Regulations Related Affiliation and Validity
              Record of Affiliated Universities</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="sub-inner2">
        <h3>Curriculum Of Education and Training Departments</h3>
        <div class="heading-underline"></div>
        <div class="list-content-wrapper">
          <div class="content-element">
            <a href="#"
              >Curriculum for memorization of Quran for male and female
              students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Textbooks and detailed papers for secondary level and Tajweed and
              reading</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Curriculum for reading and reading for male and female
              students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Curriculum Education Ranking for Students</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Curriculum for secondary level students</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Curriculum for general to international students</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Curriculum for general to international level education for
              female students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Curriculum of education level of specialization in Fiqh and Ifta
              for students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="downloads-sec-inner2">
      <div class="sub-inner3">
        <h3>Department Of Examinations About Downloads</h3>
        <div class="heading-underline"></div>
        <div class="list-content-wrapper">
          <div class="content-element">
            <a href="#"
              >Timetable for receipt of admission form for annual exams 2023 for
              female students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Timetable for receipt of admission form for the annual
              examinations of 2023 for students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >LIST OF SUCCESSFUL CANDIDATES REGARDING ENTRY TEST CLASS
              SPECIALIZATION</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Schedule of Supplementary Examination 2022 for female students</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">List of topics for annual exam 2023</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >List of Essay Topics for Supplementary Examination 2022</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Important information about Tajwid and Qaraat exams and secondary
              level</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Data Form for Examination Duties and Inquiry Answer Copies</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Admission Form Tahfiz Al-Qur'an</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#">Admission form Tajweed and reading</a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Proforma examinations are being completed for the students of
              Quran memorization
            </a>
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Admission form for female students (General to World Class II)
              for annual/supplementary examination</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Annual/Supplemental Examination for Admission Form for Students
              (Secondary to World Class II)</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Admission Form Specialization Level (1st and 2nd year) for
              students Annual Examination</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>

          <div class="content-element">
            <a href="#"
              >Admission Form for Entry Test Level Specialization in
              Jurisprudence and Jurisprudence</a
            >
            <span class="bullet-icon"
              ><i class="fa fa-circle-o" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="sub-inner4"><h3>General Downloads</h3></div>
      <div class="heading-underline"></div>
      <div class="list-content-wrapper">
        <div class="content-element">
          <a href="#">Sandat Triplicate Form Download</a>
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#"
            >Brief Introduction Organization of Al-Madaris Ahl-e-Sunnah
            Pakistan</a
          >
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#"
            >List of representatives for bank account religious schools</a
          >
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#"
            >HEC-Guidelines for Obtaining Equivalency Certificate Religious
            Credentials</a
          >
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#">Sample Certificate issued by HEC HEC</a>
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#"
            >Form for obtaining Equatorial Certificate of Higher Education</a
          >
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#"
            >Form for confirmation by Inter-Board Committee of Chairman</a
          >
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#"
            >Noori Nastaleeq Urdu Font Jameel Noori Nastaleeq Urdu Font
            Download</a
          >
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>

        <div class="content-element">
          <a href="#">Nafees Naskh Urdu Font Nafees Naskh Urdu Font Download</a>
          <span class="bullet-icon"
            ><i class="fa fa-circle-o" aria-hidden="true"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
