.result-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
  .heading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    h3 {
      color: #15bc3f;
    }
    .line {
      background-color: #15bc3f;
      width: 200px;
      height: 1px;
    }
    .line-spacing1 {
      margin: 0px 10px 0px 0px;
    }
    .line-spacing2 {
      margin: 0px 0px 0px 10px;
    }
  }
  .button-parent {
    display: flex;
    margin-bottom: 20px;
    .button1 {
      padding: 10px;
      .collective {
        padding: 10px 08px;
        background-color: #fff;
        border: solid #1989d4;
        border-width: 01px 01px 4px 4px;
      }
    }
    .button2 {
      padding: 10px;
      .single {
        padding: 10px 08px;
        background-color: #fff;
        border: solid #1989d4;
        border-width: 01px 01px 4px 4px;
      }
    }
  }
  .form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    .form-heading {
      background: #027ec6;
      color: #fff;
      padding: 20px 50px;
      text-align: center;
    }
    .form-main {
      border: 1px solid #bce8f1;
      .form-spacing {
        text-align: right;
        margin-top: 20px;
        .form-inline {
          justify-content: flex-end;
        }
      }
      .btn-primary {
        background-color: #027ec6;
      }
      .label-spacing {
        margin: 5px 0px 0px 5px;
        text-align: justify;
      }
    }
  }
}
