<section class="footer-section">
  <div class="container footer-main">
    <div class="footer-column1">
      <div class="footer-innerbox1">
        <img
          src="../../../../assets/wafaq-logo.png"
          alt=""
          width="290"
          height="50px"
        />
        <p>
          We are committed to processing the information in order to contact you
          and talk about your project.
        </p>
        <div class="footer-social-icons">
          <div class="footer-icon1">
            <span class="fab fa-instagram"></span>
          </div>
          <div class="footer-icon2">
            <span class="fab fa-facebook-f"></span>
          </div>
          <div class="footer-icon3">
            <span class="fab fa-twitter"></span>
          </div>
          <div class="footer-icon4">
            <span class="fab fa-youtube"></span>
          </div>
        </div>
        <div>
          <p>© 2022 Tanzeem Ul Madaris. All Right Reserved.</p>
        </div>
      </div>
    </div>
    <div class="footer-column2">
      <ul class="footer-column2-list">
        <li><a>Features</a></li>
        <li><a>Pricing</a></li>
        <li><a>Login</a></li>
        <li><a>Signup</a></li>
      </ul>
    </div>
    <div class="footer-column3">
      <ul class="footer-column3-list">
        <li><a>Terms Of Use</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Legal Notice</a></li>
      </ul>
    </div>
    <div class="footer-column4">
      <ul class="footer-column4-list">
        <li><a>Feedback</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Legal Notice</a></li>
      </ul>
    </div>
    <hr class="line-style" />
    <div>
      <div class="copyright">
        <div class="leftbox">
          <p>
            Copyright © 2017 - 2018 Design & Development By Blue Jay
            Development.
          </p>
        </div>
        <div class="rightbox">
          <p>tanzeemulmadaris.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
