<section class="footer-section">
  <div class="container footer-main">
    <div class="footer-column1">
      <div class="footer-innerbox1">
        <img
          src="../../../../assets/wafaq-logo.png"
          alt=""
          width="290"
          height="50px"
        />
        <p>
          {{ "LANDING.FOOTER_TEXT" | translate }}
        </p>
      </div>
    </div>
    <div class="footer-column2">
      <!-- <ul class="footer-column2-list">
        <li><a>Features</a></li>
        <li><a>Pricing</a></li>
        <li><a>Login</a></li>
        <li><a>Signup</a></li>
      </ul> -->
    </div>
    <div class="footer-column3">
      <!-- <ul class="footer-column3-list">
        <li><a>Terms Of Use</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Legal Notice</a></li>
      </ul> -->
    </div>
    <div class="footer-column4">
      <h3 style="text-align: center">سماجی آئیکن</h3>
      <div class="footer-social-icons">
        <div class="footer-icon1">
          <span class="fab fa-instagram"></span>
        </div>
        <div class="footer-icon2">
          <span class="fab fa-facebook-f"></span>
        </div>
        <div class="footer-icon3">
          <span class="fab fa-twitter"></span>
        </div>
        <div class="footer-icon4">
          <span class="fab fa-youtube"></span>
        </div>
      </div>
    </div>
    <hr class="line-style" />
    <div>
      <div class="copyright">
        <div class="leftbox">
          <p>Copyright © 2022, Design & Development By Blue Jay Development</p>
        </div>
        <div class="rightbox">
          <p>
            . |
            <a href="http://wafaqulmadarisalrizvia.com/"
              >wafaqulmadarisalrizvia.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
