/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Poppins";
}
.navback-color {
  background: #ffffff;
}
.nav-item {
  box-shadow: black;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(/src/assets/Fonts/Poppins-Regular.ttf) format("truetype");
}
